.container > * {
  background: aquamarine;
  font-size: 30px;
}

/* Let's play grid from here: */
.container-1 {
  display: grid;
  grid-gap: 5px;
  grid-template-areas: 
    'header'
    'aside-1'
    'aside-2'
    'section'
    'footer'
}

/* Assign grid areas to elements */
header {
  grid-area: header;
}
aside:nth-of-type(1) {
  grid-area: aside-1;
}
aside:nth-of-type(2) {
  grid-area: aside-2;
}
section {
  grid-area: section;
}
footer {
  grid-area: footer;
}

@media (min-width: 670px) {
  .container {
    grid-template-areas: 
    'header header header'
    'aside-1 section aside-2'
    'footer footer footer'
  }
}
