.container-2 {
  display: grid;
  height: 100vh;
  grid-gap: 10px;
  grid-template-columns: 100px 200px auto auto;
}
.item {
  background: lightcoral;
}
.item:nth-of-type(6) {
  grid-column-start: 3;
  grid-column-end: span 2;
}
.item:nth-of-type(2) {
  grid-row-start: span 2;
}
